@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue-Regular.eot');
    src: url('../fonts/BebasNeue-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BebasNeue-Regular.woff2') format('woff2'),
        url('../fonts/BebasNeue-Regular.woff') format('woff'),
        url('../fonts/BebasNeue-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans SemiCondensed';
    src: url('../fonts/OpenSansSemiCondensed-Light.eot');
    src: url('../fonts/OpenSansSemiCondensed-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSansSemiCondensed-Light.woff2') format('woff2'),
        url('../fonts/OpenSansSemiCondensed-Light.woff') format('woff'),
        url('../fonts/OpenSansSemiCondensed-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans Condensed';
    src: url('../fonts/OpenSansCondensed-Medium.eot');
    src: url('../fonts/OpenSansCondensed-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSansCondensed-Medium.woff2') format('woff2'),
        url('../fonts/OpenSansCondensed-Medium.woff') format('woff'),
        url('../fonts/OpenSansCondensed-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans Condensed';
    src: url('../fonts/OpenSansCondensed-Regular.eot');
    src: url('../fonts/OpenSansCondensed-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSansCondensed-Regular.woff2') format('woff2'),
        url('../fonts/OpenSansCondensed-Regular.woff') format('woff'),
        url('../fonts/OpenSansCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans Condensed';
    src: url('../fonts/OpenSansCondensed-ExtraBold.eot');
    src: url('../fonts/OpenSansCondensed-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSansCondensed-ExtraBold.woff2') format('woff2'),
        url('../fonts/OpenSansCondensed-ExtraBold.woff') format('woff'),
        url('../fonts/OpenSansCondensed-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans Condensed';
    src: url('../fonts/OpenSansCondensed-Bold.eot');
    src: url('../fonts/OpenSansCondensed-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSansCondensed-Bold.woff2') format('woff2'),
        url('../fonts/OpenSansCondensed-Bold.woff') format('woff'),
        url('../fonts/OpenSansCondensed-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

